{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css"
          integrity="sha256-FjyLCG3re1j4KofUTQQXmaWJw13Jdb7LQvXlkFxTDJI=" crossorigin="anonymous">

    <style>
        #calendar {
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}
<div id="calendrier">

</div>
<div>
    <a href="{{ path('calendar_new') }}">Create new</a>
    <a href="{{ path('calendar_index') }}">Rdv List</a>
</div>

{% block body %}

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"
            integrity="sha256-8nl2O4lMNahIAmUnxZprMxJIBiPv+SzhMuYwEuinVM0=" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: "Europe/Paris",
                headerToolbar: {
                    start: 'prev, next today',
                    center: 'title',
                    end: "dayGridMonth, timeGridWeek"
                },
                events: {{ data |raw }},
                editable: true,
                eventResizableFromStart: true
            })

            /* écouteur d' évènement pour persister un changement de rdv en BDD, grace à un appel ajax pour le draggable mode*/
            calendar.on('eventChange', (e) => {
                let url =`/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay,
                }
                console.log(donnees)
                //envoi des données en AJAX
                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))

            })
            calendar.render()


        }
    </script>
{% endblock %}
