{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        

        {{ form_start(registrationForm) }}
        <div class="card shadow-3 txt-center">
            <div class="card-header"><h1>Register</h1></div>
            <div class="card-content">
                <div class="form-field rounded-1">{{ form_row(registrationForm.email) }}</div>
                <div class="form-field">{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) 
                }}</div>
                <div class="form-field">{{ form_row(registrationForm.name) }}</div>
                <div class="form-field">{{ form_row(registrationForm.firstname) }}</div>
            </div>
            <div class="mt-2 mb-5">{{ form_row(registrationForm.agreeTerms) }}</div>
            <button type="submit" class="btn rounded-2 shadow-1 orange light-1 press">Register</button>
          </div>
        
        
        {{ form_end(registrationForm) }}
        
        
    </div>
        
{% endblock %}
