{% extends 'base.html.twig' %}

{% block title %}
    {{ annonce.title }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        {% for message in app.flashes('message') %}
            <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
        {% endfor %}

        <div class="caroulix" id="annonces-carousel" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true"
             data-caroulix-indicators-enabled="true">
            {% for image in annonce.images %}
                <div class="caroulix-item">
                    <img src={{ asset('uploads/images/annonces/' ~ image.name)|imagine_filter('banniere') }}
                         alt={{ annonce.title|raw }} />
                </div>
            {% endfor %}
        </div>
        <div class="grix xs2 sm3 gutter-0 card">
            <div class="primary flex vcenter fx-center"></div>
            <div class="col-sm2">
                <div class="card-header">{{ annonce.title }}</div>
                <div class="card-content">
                    <p>Catégorie :
                        <strong>{{ annonce.categories.name }}</strong></p>
                    <p>
                        {{ annonce.content|raw }}
                    </p>
                    <p>
                        <button class="btn magenta light-1 rounded-1 shadow-1 press modal-trigger float-right"
                                data-target="modal-contact">Contacter l'annonceur
                        </button>
                    </p>
                    <hr />
                    {% if is_granted("annonce_edit", annonce) %}
                    <p>
                        <a class="txt-orange" href="{{ path("annonces_edit", {id: annonce.id }) }}">Editer l'annonce</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Ajout de commentaire #}
        <div class="grix xs2 sm3 gutter-O card">
            <div class="col-xs2 col-sm3">
                <h2>Liste des commentaires</h2>
                {% for comment in annonce.comments %}
                    {% if comment.parent == null %}
                        <h5>Commentaire de: {{ comment.pseudo }}</h5>
                        <div>{{ comment.content|raw }}</div>
                        <p><strong>Publié le </strong> {{ comment.createdAt|date("d/m/Y") }}
                        </p>
                        <p><a href="#ajout-commentaire" data-reply data-id="{{ comment.id }}"
                              class="txt-orange">Reply</a></p>
                        {# On affiche les réponses #}
                        {% for reply in comment.replies %}
                            <div>{{ reply.content|raw }}</div>
                            <p><strong>Réponse publiée par </strong> {{ reply.pseudo }}
                                le {{ reply.createdAt|date("d/m/Y") }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-xs2 col-sm3" id="ajout-commentaire">
                <h2>Ajouter un commentaire</h2>
                {{ form_start(commentForm) }}
                    {{ form_row(commentForm.pseudo) }}
                    {{ form_row(commentForm.email) }}
                    <p>Message</p>
                    <div id="editor"></div>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>

    {# Modal denvoi de mail à l'auteur #}
    <div class="modal shadow-1 white falling" id="modal-contact" data-ax="modal">
        <div class="container">
            <div class="modal-header">Contactez l'annonceur</div>
            <div class="divider"></div>
            {{ form_start(form) }}
            <div class="modal-content"></div>
            <div class="form-field">
                {{ form_row(form.title) }}
            </div>
            <div class="form-field">
                {{ form_row(form.email) }}
            </div>
            <div class="form-field">
                {{ form_row(form.message) }}
            </div>
            <div class="divider"></div>
            <div class="modal-footer">
                <button class="ml-auto btn shadow-1 rounded-1 small orange light-1">Envoyer</button>
                <button data-target="modal-contact"
                        class="ml-auto btn shadow-1 rounded-1 small magenta light-1 modal-trigger">Fermer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script>
        window.onload = () => {
            document.querySelector("#modal-contact").value = "{{ annonce.title|raw }}"

            //on met un écouteur d'event sur tous les reply pour les rediriger vers la form ajout com
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function () {
                    document.querySelector("#comments_parentid").value = this.dataset.id;
                })
            })
        }
        let caroulix = new Axentix.Caroulix('#carousel');
        let modal = new Axentix.Modal('#modal-contact');
    </script>
{% endblock %}
