{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="txt-center">Mes annonces: </h1>
        {% for annonce in annonces %}
            <div class="card shadow-1 rounded-1 fx-row mb-5">
                <div class="d-flex vcenter fx-center px-4">
                    <img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}"
                         alt="{{ annonce.title }}"
                         class="card-img-top rounded-2 p-1"
                    >
                </div>
                <div class="flex fx-col fx-grow">
                    <div class="card-header"><a
                                href="{{ path('annonces_details', {slug: annonce.slug}) }}">{{ annonce.title }}</a>
                    </div>
                    <div class="card-content">
                        <p>Catégorie : {{ annonce.categories.name }}</p>
                        <p>
                            {{ annonce.content|striptags|u.truncate(50, '...') }}
                        </p>
                        <div class="txt-red">
                            {% if is_granted("ROLE_USER") %}
                                {% set isFavorite = false %}
                                {% for favoris in annonce.favoris %}
                                    {% if favoris.id == app.user.id %}
                                        {% set isFavorite = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if isFavorite %}
                                    <a href="{{ path('annonces_retrait_favoris', {id: annonce.id}) }}"><i
                                                class="fas fa-heart"></i></a>
                                {% else %}
                                    <a href="{{ path('annonces_ajout_favoris', {id: annonce.id}) }}"><i
                                                class="far fa-heart"></i></a>
                                {% endif %}

                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}

                        </div>
                    </div>
                    <div class="text-center float-right pr-3">
                        <a href="{{ path("annonces_edit", {id: annonce.id}) }}" class="btn shadow-1 rounded-1 yellow"> Modifier </a>
                        <a href="#" class="btn primary shadow-1 rounded-1 modal-trigger" data-target="modal-delete" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {#Pagination #}
        {#<ul class="pagination">
            <li class="{{ (page == 1) ? 'disabled' : '' }}">
                <a href="?page=1">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            <li class="{{ (page == 1) ? 'disabled' : '' }}">
                <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>
            {% set pages = (total / limit)|round(0, 'ceil') %}
            {% for item in 1..pages %}
                <li class="{{ (page == item) ? 'active' : '' }}">
                    <a href="?page={{ item }}">{{ item }}</a>
                </li>
            {% endfor %}
            <li class="{{ (page == pages) ? 'disabled' : '' }}">
                <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="{{ (page == pages) ? 'disabled' : '' }}">
                <a href="?page={{ pages }}">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>

        </ul>#}
    </div>
{% endblock %}
