{% for annonce in annonces %}
    <div class="card shadow-1 rounded-3 fx-row mb-5">
        <div class="d-flex vcenter fx-center px-4">
            <div class="card text-white bg-info mb-3 display-flex" style="max-width: 20rem;">
                <img class="card-img-top rounded-1"
                     src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}"
                     alt="{{ annonce.title }}"> <!-- .../annonces/' ~ annonce.images[0].name )}}-->
            </div>
        </div>
        <div class="flex fx-col fx-grow">
            <div class="card-header">
                <b><a href={{ path('annonces_details', {slug: annonce.slug}) }}>{{ annonce.title }}</a></b>
                <p><strong>Catégorie:</strong> {{ annonce.categories.name }}</p>
            </div>
            <div class="card-text">
                <p> {{ annonce.content | striptags | u.truncate(100, true, '...') }}</p>
                <div class="txt-red">
                    {# Mis en favori de l'annonce selon le user #}
                    {% if is_granted ("ROLE_USER") %}
                        {% for favoris in annonce.favoris %}
                            {% if favoris.id == app.user.id %}
                                <a href={{ path('annonces_retrait_favoris', {id: annonce.id}) }}><i
                                            class="fas fa-heart"></i></a>
                            {% else %}
                                <a href={{ path('annonces_ajout_favoris', {id: annonce.id}) }}><i
                                            class="far fa-heart"></i></a>
                            {% endif %}
                        {% else %}
                            <a href={{ path('annonces_ajout_favoris', {id: annonce.id}) }}><i
                                        class="far fa-heart 4x"></i></a>
                        {% endfor %}
                    {% else %}
                        <i class="far fa-heart"></i>
                    {% endif %}
                </div>
                <a href="{{ path('annonces_details', {slug: annonce.slug}) }}"
                   class="btn shadow-1 rounded-2 float-right orange light-2 mr-5">Voir l'annonce </a>
            </div>
        </div>
    </div>

{% endfor %}

{# Pagination #}
{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

<div class="centered">
    <ul class="pagination">
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="?page=1&{{ queryString }}">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}&{{ queryString }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% set pages = (total / limit)|round(0, 'ceil') %}
        {% for item in 1..pages %}
            <li class="{{ (page == item) ? 'active' : '' }} orange">
                <a href="?page={{ item }}&{{ queryString }}">{{ item }}</a>
            </li>
        {% endfor %}
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}&{{ queryString }}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="?page={{ pages }}&{{ queryString }}">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
    </ul>
</div>