{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
	<div class="container">
	    {% for message in app.flashes('message') %}
       		<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
    	{% endfor %}
        <h1>Nous contacter</h1>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.sujet) }}
        <p>Message</p>
        <div id="editor"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}
