{% extends 'base.html.twig' %}

{# On crée des variables personnalisées pour persister les paramètres de l'url dans les input filtres #}
{% set queryParams = app.request.query.all %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="m-5">
            <a href="{{ path('annonces_ajout') }}"
               class="btn shadow-1 rounded-2 float-right magenta light-2 mb-5">Ajouter une annonce </a>
            {{ form(form) }}
        </div>
    </div>
    <div class="container">
        <div class="grix xs1 gutter-0 card p-2">
            <div class="grix xs6">
                <div class="col-xs2">
                    <h4>Filtre par catégories</h4>
                    <form id="filters">
                        {% for categorie in categories %}

                            {# On vérifie si la catégorie est coché dans les filtres eet est présent dans les paramètres url #}
                            {% if queryParams is not empty and queryParams.categories is defined %}
                                {% set checked = (categorie.id in queryParams.categories) ? "checked" : "" %}
                            {% else %}
                                {% set checked = "" %}
                            {% endif %}

                            <p><input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}" {{ checked }}>
                                <strong><label for="cat{{ categorie.id }}">{{ categorie.name }}</label></strong>
                            </p>
                        {% endfor %}
                        <input type="hidden" name="page" value="{{ page }}">
                    </form>
                </div>
                <div class="col-xs4" id="home_content">
                    {% include("main/_home.html.twig") %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}