{% extends 'base.html.twig' %}

{% block title %}Page Administration{% endblock %}


{% block body %}
    <div class="container mt-5 mb-5">
        <div class="grix xs2">
            <div class="grix xs1">
                <div class="card shadow-1 hoverable-1 rounded-3">
                    <div class="card-header txt-center">
                        <a href="{{ path("admin_annonces_home") }}">Gestion des annonces</a>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus
                            impedit
                            distinctio quidem, nesciunt id
                            possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est
                            nam
                            soluta!
                        </p>
                    </div>
                </div>
            </div>

            <div class="grix xs1">
                <div class="card shadow-1 hoverable-1 rounded-3">
                    <div class="card-header txt-center">
                        <a href="{{ path("admin_categories_home") }}">Gestion des catégories</a>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus
                            impedit
                            distinctio quidem, nesciunt id
                            possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est
                            nam
                            soluta!
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="mt-5 p-2">
                <h1 class="txt-center"> Calendrier </h1>
                {{ include('calendar/main.html.twig') }}
            </div>
        </div>

{% endblock %}

