<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main Page{% endblock %}</title>
    <!-- Axentix CSS minified version -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.2/dist/css/axentix.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<header>
    <nav class="navbar shadow-1 orange">
        <a href="{{ path('app_home') }}" class="navbar-brand pl-4">Site PAP</a>
        <div class="navbar-menu ml-auto">
            <a class="navbar-link active" href={{ path('app_home') }}>Les annonces</a>
            <a class="navbar-link" href={{ path('users_home') }}>Mon Compte</a>
            <a class="navbar-link" href={{ path('app_register') }}>Inscription</a>
            <a class="navbar-link" href={{ path('app_login') }}>Connexion</a>
            {% if (is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('admin_home') }}">Admin</a>
            {% endif %}
        </div>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer orange fx-center">
    Copyright © 2020 - ZenInfo34
</footer>

<script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/js/axentix.min.js"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>
