<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8" />
     <title>{% block title %}Welcome!{% endblock %}</title>

     <!-- Axentix CSS minified version -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/css/axentix.min.css" />
     {% block stylesheets %}{% endblock %}
     <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body class="layout with-sidenav">
     <header>
          <nav class="navbar shadow-1 viride dark-2 pl-4">
               <a href="{{ path('app_home')}}" class="navbar-brand">Site PAP</a>
               <div class="navbar-menu ml-auto">
                    <div class="navbar-menu ml-auto">
                         <a class="navbar-link" href={{ path('app_home')}}>Les annonces</a>
                         <a class="navbar-link" href={{ path('app_login')}}>Connexion</a>
                         <a class="navbar-link" href={{ path('app_logout') }}>Déconnexion</a>
                    </div>
               </div>
          </nav>
     </header>

     <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
          <div class="sidenav-header">
               <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
               <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
          </div>
          <a href="{{ path('users_home') }}" class="sidenav-link active">Mon Profil</a>
          <a href="{{ path('annonces_home') }}" class="sidenav-link">Mes annonces</a>
     </div>

     <main>
          <button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
               Open sidenav
          </button>
          <!-- Code here the main content -->
          {% block body %}
          
          {% endblock %}
     </main>

     <footer class="footer viride dark-2 fx-center">
          Copyright © 2020 - Zeninfo34
     </footer>


     <!-- Axentix JS minified version -->
     <script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/js/axentix.min.js"></script>
     {% block javascripts %}{% endblock %}
     <script>
          var sidenav = new Sidenav('#exemple-sidenav');
     </script>
     <script src="{{ asset('js/scripts.js') }}"></script>
</body>

</html>