{% extends 'base.html.twig' %}

{% block title %}Gérer les annonces{% endblock %}

{% block body %}
<div class="container">

	<h1>Gérer les annonces</h1>
	<a href="{{ path("admin_home") }}" class="float-right">Retour à l'administration</a>
	<table class="table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Date</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for annonce in annonces %}
				<tr>
					<td>{{annonce.id}}</td>
					<td>{{annonce.title}}</td>
					<td>{{annonce.createdAt|date}}</td>
					<td>
						<label class="form-switch mt-2">
							<input type="checkbox" {{ (annonce.active) ? 'checked' : ''}} data-id="{{annonce.id}}">
							<span class="slider"></span>
						</label>
					</td>
					<td class="text-center">
						<a href="{{ path("annonces_edit", {id: annonce.id}) }}" class="btn shadow-1 rounded-1 yellow"> Modifier </a>
						<a href="#" class="btn primary press modal-trigger" data-target="modal-delete" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<div class="modal white falling" id="modal-delete">
		<div class="modal-header">Supprimer une annonce</div>
		<div class="divider"></div>
		<div class="modal-content">
		</div>
		<div class="divider"></div>
		<div class="modal-footer">
			<a href="" class="btn red">Valider</a>
			<button data-target="modal-delete" class="ml-auto btn small primary modal-trigger">Close</button>
		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
	<script>
		window.onload = () => {
			let modal = new Modal('#modal-delete');
			let activer = document.querySelectorAll("[type=checkbox]")
			for (let bouton of activer) {
				bouton.addEventListener("click", function () {
					let xmlhttp = new XMLHttpRequest;

					xmlhttp.open("get", `/admin/annonces/activer/${this.dataset.id}`)
					xmlhttp.send()
				})
			}

			let supprimer = document.querySelectorAll(".modal-trigger")
			for(let bouton of supprimer){
				bouton.addEventListener("click", function () {
					document.querySelector(".modal-footer a").href = `/admin/annonces/supprimer/${this.dataset.id}`
					document.querySelector(".modal-content").innerText = `Êtes-vous sûr(e) de vouloir supprimer l'annonce "${this.dataset.titre}"`
				})
	
			}
		}
	</script>
{% endblock %}
