{% extends 'users.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h1>Profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
		</div>
		<div class="col-xs1">Nom :</div>
		<div class="col-xs3">{{ app.user.name }}</div>
		<div class="col-xs1">Prénom :</div>
		<div class="col-xs3">{{ app.user.firstname }}</div>
		<div class="col-xs1">Email :</div>
		<div class="col-xs3">{{ app.user.email }}</div>
		<div class="col-xs4">
            <a href="{{ path('users_profil_modifier') }}" class="btn viride light-1 rounded-3 shadow-1 m-2">Modifier le profil</a>
            <a href="{{ path('users_pass_modifier')}}" class="btn viride light-1 rounded-3 shadow-1 m-2">Modifier le mot de passe</a>
            <a href="{{ path('users_data')}}" class="btn yellow dark-3 rounded-3 shadow-1 m-2">Voir mes données personnelles (RGPD)</a>
        </div>

		<div class="col-xs4">
			<h1>Annonces de {{ app.user.firstname }} {{ app.user.name }} ({{ app.user.annonces|length }})</h1>
		</div>
        {% for annonce in app.user.annonces %}
            <div class="col-xs1">Titre :</div>
            <div class="col-xs3">{{ annonce.title }}</div>
        {% endfor %}
        
	</div>
{% endblock %}
